

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#description{
    margin-top: 10px;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h4{
    margin-top: 20px;
}

@media screen and (min-width: 720px) {
    #container{
        max-width: 1500px;
    }

    iframe {
        width: 623px;
        height: 350px;
    }

    .twoCol{
        display: flex;
        padding: 20px;
    }

    #carouselExample {
        margin-top: 10px;
        width: 60%;
    }
    
    #photos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        height: 550px;
    }
} 

@media screen and (max-width: 720px) {
    #container{
        max-width: screen - 30px;

    }

    iframe {
        width: 300px;
        height: auto;
    }

}