.form__input-container{
    position: relative;
    margin-bottom: 32px;
}

input, button{
    background: linear-gradient(
        to left,
        rgba(255,255,255,0.01),
        rgba(255,255,255,0.25)
    );
    border: none;
    border-radius: 18px;
    color: rgb(0,0,0,0.5);
    padding: 12px 24px;
    font-size: 21px;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.15);
    transition: 0.3s;
}

input{
    width: 100%;
}

label{
    color: rgb(0,0,0);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    font-size: 21px;
    opacity: 0.5;
    cursor: text;
}

input:focus + label,
input:not(:placeholder-shown)+label{
    opacity: 0;
}

input:hover,
button:hover{
    box-shadow: 0px 8px 12px 0 rgba(0,0,0,0.5);
}

input:focus,
button:focus{
    outline: solid 3px rgba(0,0,0, 0.8);
}

button{
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button:hover:after{
    left: 110%;
}

.form__icon{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: solid 3px rgba(0,0,0, 0.55);
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.15);
    margin: 0 auto 24px;
    overflow: hidden;
    position: relative;
}

.form__icon:before{
    background: rgba(0,0,0, 0.55);
    position: absolute;
    width: 64px;
    height: 24px;
    bottom: 0;
    display: block;
    content: " ";
    border-radius: 50%;
}

.form__icon:after{
    background: rgba(0,0,0, 0.55);
    position: absolute;
    width: 27px;
    height: 27px;
    bottom: 45%;
    display: block;
    content: " ";
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.form__spacer{
    height: 2px;
    background: rgba(0,0,0, 0.55);
    width: 80%;
    margin: 0 auto 32px;
    border-radius: 100%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#data {
    display: flex;
}

.left{
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}

.red {
    color: red;
}

#terms{
    width: 20px;
}

#check {
    margin-bottom: 20px;
}